.navbar {
    max-width: 1360px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 60px;    
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;      
    padding: 0;     
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    background: #3e885b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 100vh;
    background: url("assets/hero-bg.jpg") no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
}

.picture {
    position: absolute;
    background-size: cover;
}

.banner-content {
    position: relative;
    text-align: center;
    max-width: 750px;
    padding: 20px;
    color: white;
}

.banner-content .tag {
    cursor: pointer;
    background-color: white;
    padding: 8px 25px;
    border-radius: 20px;
}

.banner-content h1 {
    font-size: 65px;
    font-weight: 770px;
    line-height: 1em;
}

.banner-content h1 span {
    color: #39c16c;
}

 #banner .banner-content p {
    font-size: 16px;
    line-height: 24px;
    color: #e7e7e7da;
    margin-top: 10;
}

.buttons {
    margin-top: 35px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn.primary {
    font-size: 16px;
    background: #39c16c;
    color: white;
}

.btn.secondary {
    font-size: 16px;
    background: transparent;
    border: 2px solid white;
    display: flex;
    align-items: center;
    gap: 8px;
}


#skills .skills-container{
    margin: o auto;
    align-items: center;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 28px;
    justify-content: center;
  
}
#skills .section-heading{
    text-align: center;
    margin: 0 auto;

}
#skills .section-heading h1{
    color:#001931;
    font-size: 48px;
}
#skills .section-heading P{
    color:#627382;
    margin-bottom: 10px;
    
}
.skill-box .skill-card{
    padding: 35px;
    text-align: center;
    max-width: 260px;
}
.skill-card img{
    max-width: 25px;
    background-color: rgba(255, 0, 0, 0.705);
    padding: 10px;
    border-radius: 30px;
}
.skill-card h3 {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.918);
    margin-bottom: 20px;
}
#skills .skill-box .skill-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#position {
    padding-top: 120px;
    max-width: 1360;
     display: flex;
    justify-content: center;
}
#position .text-position h4{
    font-size: 16px;
    line-height: 10px;
    color: #3e885b;
}
#position .text-position h1 {
    font-size: 48px;
    color: #001931;
}
#position .text-position p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
#position .text-position .ol{
    font-size: 16px;
    line-height: 30px;
    color: #001931;
}
#position .text-position .ol i{
    color: #39c16c;
}
#about{
    text-align: center;
    height: 380px;
    padding-top: 120px;
}
#about h1{
    font-size: 40px;
    color: #001931 ;
}
#about p {
    font-size: 16px;
    line-height: 24px;
    color: #627382;
}
#about .btn{
    font-size: 16px;
    background-color: #3e885b;
}
#about .btn img{
    font-size: 16px;
}
#about .more{
    font-size: 16px;
    line-height: 30px;
    color: #627382;
}
#foot {
    justify-content: center;
    background-color: #001931f8;
    color: white;
    overflow: hidden;
}

#foot .tools {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons i {
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.footer-bottom {
    position: relative;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    color: #cfcfcf;
}

.footer-bottom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 85%; 
    height: 1px;
    background: var(--Style, rgb(59, 74, 88));
}

